@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

a{
    text-decoration: none;
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    header{
        background-color: rgba(102, 102, 102, 0.102);
    }
    
    header .logo{
        text-align: center;
        font-size: 30px;
    }

    header .navbar ul{
        display: flex;
        list-style: none;
        justify-content: center;
        align-items: center;
    }

    header .navbar ul li{
        padding: 1rem;
        color: black;
    }

    header .navbar ul li a{
        color: black;
        text-transform: uppercase;
    }

    footer  ul{
        display: flex;
        list-style: none;
        justify-content: center;
        align-items: center;
        background-color: #ffefda;
        margin-top: 50px;
    }

    footer  ul li{
        padding: 1rem;
        color: black;
    }

    footer  ul li a{
        color: black;
        text-transform: uppercase;
    }

    .navbar .hamburger{
        display: none;
    }

    .barre{
        display: flex;
        background-color: #ffefda;
        height: 3rem;
    }

    .barre .recherche{

    }

    .banniere{
        background-image: url("../images/baniere.webp");
        height: 45rem;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    /*---------------connexion----------------*/


    .connexion form{
        margin: auto; 
        width: 50%; 
        padding: 150px; 
        text-align: center;
        background-color: rgba(102, 102, 102, 0.102); 
        margin-top: 50px;
    }

    .connexion form label{
        font-size: 20px;
    }

    .connexion form input{
        padding: 90px; 
        padding-top: 10px; 
        padding-bottom: 10px; 
        margin-bottom: 2rem;
        text-align: center;
    }

    .connexion form button{
        padding: 1rem; 
        border-radius: 10px; 
        background-color: black; 
        color: white;
    }

    .connexion form .oublie{
        margin-top: 10px;
    }

    .connexion form .oublie a{
        color: black;
    }

    .connexion form .inexistant {
        margin-top: 10px;
    }

    .connexion form .inexistant a{
        color: black;
    }
    

    /*---------------inscription----------------*/

    .inscription{
        background-image: url();
    }


    .inscription form{
        margin: auto; 
        width: 50%; 
        padding: 150px; 
        text-align: center;
        background-color: rgba(102, 102, 102, 0.102); 
        margin-top: 50px;
    }

    .inscription form label{
        font-size: 20px;
    }

    .inscription form input{
        padding: 90px; 
        padding-top: 10px; 
        padding-bottom: 10px; 
        margin-bottom: 2rem;
        text-align: center;
    }

    .inscription form button{
        padding: 1rem; 
        border-radius: 10px; 
        background-color: black; 
        color: white;
    }

    .inscription form .oublie a{
        color: black;
    }

    .inscription form .compte{
        margin-top: 5px;
    }

    .inscription form .compte a{
        color: black;
    }

    .inscription form .compte a:hover{
        color: pink;
    }

    .inscription form .oublie a:hover{
        color: pink;
    }
    
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    
    header{
        background-color: rgba(102, 102, 102, 0.102);
        height: 5rem;
        display: flex;
        align-items: center;
    }

    header .logo{
        font-size: 30px;
    }

    header .navbar ul{
        display: none;
        list-style: none;
        justify-content: center;
        align-items: center;
    }

    header .navbar ul li{
        padding: 1rem;
        color: black;
    }

    header .navbar ul li a{
        color: black;
        text-transform: uppercase;
    }

    .navbar .hamburger{
        margin-left: 20rem;
    }

    .fa-bars{
        font-size: 25px;
    }

    .barre{
        display: flex;
        background-color: #ffefda;
        height: 3rem;
    }

    .barre .recherche{

    }

    .banniere{
        background-image: url("../images/baniere.webp");
        height: 25rem;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    .panier a .fa-basket-shopping{
        background-color: black;
    }

    
}